{% extends "layout.html"%}

{% block title %}
    AIESL
{% endblock %}

{% block main%} 


    <div class="container-fluid mb-5">
        <img src="static/hero2.png" alt="Hero Illustration" class="img-responsive">
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="static/landscape.jpg" alt="Landscape" class="img-thumbnail img-responsive rounded float-right" width="500px" height="500px">
            </div>
            <div class="col">
                <h1 class="display-3">What We Do.</h1>
                <p class="lead">This business is intended primarily to build the market of agricultural exports from Trinidad to the USA focusing on three (3) main market segments; Houston, New York and Miami. Each area identified to have a characteristic and significant Caribbean presence in its population ideal for the intended business concept of pepper imports from Trinidad (Pimento, Sweet and Hot pepper varieties) based on their food-culture.</p>
            </div>     
        </div>
    </div>
   
</body>

{% endblock %}
